---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PageContent from '../components/PageContent.astro';
import CourseSection from '../components/CourseSection.astro';
import { useTranslations } from '../i18n';

const t = useTranslations('en');

const courses = await getCollection('courses-en', ({ data }) =>
  data.published
);
---

<Layout title={`${t('Courses')} | korczak.xyz`} lang="en">
  <PageContent title={t('Courses')}>
    <div class="flex flex-col gap-20">
      {courses.map(course => (
        <CourseSection
          slug={course.data.slug}
          title={course.data.title}
          excerpt={course.data.excerpt}
          featuredImageColor={course.data.featuredImageColor}
          featuredImageBW={course.data.featuredImageBW}
          lang="en"
        />
      ))}
    </div>
  </PageContent>
</Layout>
