---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { useTranslations, type Lang } from '../i18n';

interface Props {
  slug: string;
  title: string;
  excerpt?: string;
  featuredImageColor?: ImageMetadata;
  featuredImageBW?: ImageMetadata;
  lang: Lang;
}

const { slug, title, excerpt, featuredImageColor, featuredImageBW, lang } = Astro.props;
const t = useTranslations(lang);

const href = lang === 'en' ? `/courses/${slug}/` : `/pl/courses/${slug}/`;

// We'll use color image by default, and swap with JS for dark mode
const image = featuredImageColor || featuredImageBW;
---

<div class="flex flex-col gap-8">
  <h3 class="text-4xl">{title}</h3>
  {image && (
    <div class="course-image-container">
      {featuredImageColor && (
        <Image
          src={featuredImageColor}
          alt={title}
          width={800}
          class="course-image-color block dark:hidden"
        />
      )}
      {featuredImageBW && (
        <Image
          src={featuredImageBW}
          alt={title}
          width={800}
          class="course-image-bw hidden dark:block"
        />
      )}
    </div>
  )}
  {excerpt && <p>{excerpt}</p>}
  <div>
    <a
      class="bg-red-500 hover:bg-red-400 text-white py-4 px-6"
      href={href}
    >
      {t('Read more')}
    </a>
  </div>
</div>
